<div class="open-accessibility-cursor-workaround open-accessibility-hidden"></div>



<div class="open-accessibility open-accessibility-collapsed">
    <div class="open-accessibility-container">


        <div class="open-accessibility-menu">
            <div class="open-accessibility-close-button">
                <i class="fa fa-times" title="סגור חלונית נגישות"></i>
                <span class="open-accessibility-header-text">
                תפריט נגישות -
                    </span>
            </div>
            <div class="open-accessibility-menu-scroll">
                <h4>טקסט</h4>
                <div class="open-accessibility-menu-button open-accessibility-zoom-out-button">
                    <i class="fa fa-search-minus open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">הקטן</div>
                </div>

                <div class="open-accessibility-menu-button open-accessibility-zoom-in-button">
                    <i class="fa fa-search-plus open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">הגדל</div>
                </div>

                <h4>צבעים</h4>
                <div class="open-accessibility-menu-button open-accessibility-invert-button">
                    <i class="fa fa-desktop open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">היפוך צבעים</div>
                </div>
                <div class="open-accessibility-menu-button open-accessibility-brightness-button">
                    <i class="fa fa-sun-o open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">בהירות</div>
                </div>
                <div class="open-accessibility-menu-button open-accessibility-contrast-button">
                    <i class="fa fa-adjust open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">ניגודיות</div>
                </div>
                <div class="open-accessibility-menu-button open-accessibility-monochrome-button">
                    <i class="fa fa-low-vision open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">גווני אפור</div>
                </div>

                <h4>הדגשות</h4>
                <div class="open-accessibility-menu-button open-accessibility-cursor-button">
                    <i class="fa fa-mouse-pointer open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">עכבר גדול</div>
                </div>
                <div class="open-accessibility-menu-button open-accessibility-highlighted-links-button">
                    <i class="fa fa-link open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">הדגשת קישורים</div>
                </div>
                <div class="open-accessibility-menu-button open-accessibility-highlighted-headers-button">
                    <i class="fa fa-header open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">הדגשת כותרות</div>
                </div>


                <div style="clear: both"></div>
                <hr>
                <div class="open-accessibility-menu-button open-accessibility-reset-button">
                    <i class="fa fa-undo open-accessibility-icon" aria-hidden="true"></i>
                    <div class="open-accessibility-icon-desc">בטל שינויים</div>
                </div>
                <div style="clear: both"></div>

                <div class="open-accessibility-menu-footer">

                </div>

            </div>




        </div>
    </div>
</div>